*{
    margin: 0;
    padding: 0;
}

body{
    background: #fff;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
p{
    font-weight: 300;
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
}

.container .header{
    grid-column: span 3;
    height: 75px;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
    box-shadow: 0px -3px 4px 0px rgba(0,0,0,0.75);
}
.container .header div p {
    padding: 30px 30px;
    font-weight: 400;
    font-size: 20px;
}
.container .header .navbar{
    padding: 30px 30px;
}
.container .header .navbar li{
    display: inline;
    padding-right: 15px;
}
.container .header .navbar li .nav-link{
    text-decoration: none;
}

.container .header .navbar .nav-link:hover{
    border-bottom: 1px solid #000;
}
.container .header .navbar .nav-button{
    text-decoration: none;
    padding: 8px 15px;
    border: 1px solid blue;
    border-radius: 5px;
    color: blue;
}
.container .header .navbar .nav-button:hover{
    color: #fff;
    background: blue;
}
/* CONTENIDO PRINCIPAL */
.container .content{
    grid-column: span 3;
    text-align: center;

}
.container .content div h1{
    font-weight:300;
    font-size: 60px;
    padding-top: 80px;
}
.container .content div p{
    padding: 25px 350px;
    font-weight: 100;
    font-size: 20px;
}

/* PRICING */
.container .pricing{
    grid-column: span 3;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container .pricing .colum{
    width: 290px;
    height: 327px;;
    border: 1px solid #cccccc;
    margin: 15px 25px;
    border-radius: 3px;
    box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.48);
} 
.container .pricing .colum h2{
    font-size: 24px;
    font-weight: 400;
    background: #f6f6f6;
    padding: 10px 10px; 
}
.container .pricing .colum h1{
    font-size: 36px;
    font-weight: 700;
    padding: 20px 10px; 
}
.container .pricing .colum ul{
    padding-bottom: 45px;
}
.container .pricing .colum ul li{
    list-style-type: none;
    padding: 2px;
}
.container .pricing .colum .white-button{
    margin-top: 10px;
    padding: 15px 75px;
    text-decoration: none;
    border: 1px solid #007BFF;
    color: blue;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 200;
}
.container .pricing .colum .white-button:hover{
    color: white;
    background: #007BFF;
    font-weight: bold;
}
.container .pricing .colum .blue-button{
    margin-top: 10px;
    padding: 15px 75px;
    text-decoration: none;
    /* border: 1px solid #b007BF; */
    color: #fff;
    background: #007BFF;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}
.container .pricing .colum .blue-button:hover{
    background: #0362C7;
}
.container .footer{
    width: 73%;
    margin: 0 auto;
    grid-column: span 3;
    /* text-align: center; */
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    margin-top: 35px;
    border-top: 1px solid #f5f5f5;
}
.container .footer .foot-colum{
    padding-top: 35px;
    text-align: left;
    padding-bottom: 35px;
}
.container .footer .foot-colum li h2{
    font-weight: 600;
    font-size: 18px;
    padding: 15px 0;
    
}
.container .footer .foot-colum li{
    list-style-type: none;
    padding: 2px;
    
}
.container .footer .foot-colum li a{
    text-decoration: none;
    font-weight: 400;
    color: #000;
}
